{% extends "home/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}

<style>
.tabulacion:first-letter {
	margin-left: 30px;
}
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row text-center p-5 bg-white">
            <h1>{% trans 'About' %}</h1>
        </div>
    </div>
    <div class="container bg-white">
        <div class="row" style="">
            <div class="col-2"></div>
            <div class="col-lg-8 col-md-12 bg-white p-5 text-center">
                
                <p class="tabulacion" style="text-align:left;">{% blocktrans %}Hi there! I'm a curious, creative, and passionate individual from the picturesque valley of Oiartzun, nestled in the heart of the Basque Country. My journey has been a blend of musical notes and lines of code. I started by studying music, delving into piano and jazz, which taught me the beauty of improvisation and the importance of precision in every detail.{% endblocktrans %}</p>
                <p class="tabulacion" style="text-align:left;">{% blocktrans %}However, my love for technology led me to dive into the world of computer science and automation, where I discovered the joy of bringing ideas to life through logic and creativity. I'm an enthusiastic web developer, dedicated to crafting clean, secure, and well-structured code. I thrive on tackling new technological challenges and collaborating on projects that make a difference.{% endblocktrans %}</p>
                <p class="tabulacion" style="text-align:left;">{% blocktrans %}If you have an idea or a project in mind, I’m all ears and excited to explore how we can bring it to life together.For any proposals or collaborations, feel free to reach out via email. I'd be delighted to hear about your project, and if you’d like, we can discuss it over a good black coffee – no sugar.{% endblocktrans %}</p>
                <p class="tabulacion" style="text-align:center;">😊 {% blocktrans %}Looking forward to hearing from you!{% endblocktrans %}</p><br><label class="w-100 text-center">Iñaki Retegi</label>

                        
            </div>
            <div class="col-2"></div>
          
        </div>
    </div>
{% endblock %}