{% extends "home/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}


{% endblock %}

{% block content %}

    <div class="container">
        <div class="row text-center p-5 bg-white">
            <h1>{% trans 'Contact' %}</h1>
        </div>
    </div>
    <div class="container bg-white">
        <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-8 col-md-12 bg-white p-5">
             <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderiza el formulario -->
        <button type="submit">Enviar</button>
    </form>
        <div class="col-2"></div>
          
        </div>
    </div>
{% endblock %}