
{% load static %}
{% load i18n %}


{% block head %}

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<style>
#map{
    height:100vh;
}

    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid" id="map">
        
    </div>


    

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-polylinedecorator/1.7.1/leaflet.polylineDecorator.min.js"></script>


<script>
    // Crear un icono personalizado para el marcador
    var customIcon = L.icon({
        iconUrl: '{% static "img/icon/hacked-icon.png" %}', // URL de la imagen del icono
        iconSize: [40, 50], // Tamaño del icono [ancho, alto]
        iconAnchor: [20, 50], // Punto de anclaje del icono (centro inferior)
        popupAnchor: [0, -40] // Punto de anclaje del popup relativo al icono
    });

    // Inicializar el mapa centrado en Donostia
    var mymap = L.map('map').setView([30.7172421214, -38.38048382228217], 4); // Centrado en Donostia
    L.tileLayer('https://tile.jawg.io/jawg-dark/{z}/{x}/{y}{r}.png?access-token=vC1SXUhzjRrMT4wJ7sPcrgAWkXGJKUs9YcqLWu3IHDgAY7iIsej2pZegVEor052X', {}).addTo(mymap);
    mymap.attributionControl.addAttribution("<a href=\"https://www.jawg.io?utm_medium=map&utm_source=attribution\" target=\"_blank\">&copy; Jawg</a> - <a href=\"https://www.openstreetmap.org?utm_medium=map-attribution&utm_source=jawg\" target=\"_blank\">&copy; OpenStreetMap</a>&nbsp;contributors");

    // Añadir marcadores al mapa
    {% for victim in data %}
        var popupContent = `
            {% if victim.victim %}<img class='w-25' src='media/{{ victim.image }}'>{% endif %}
            {% if victim.victim %}<br><b>Víctima:</b><br>{{ victim.victim }}{% endif %}
            {% if victim.date_time %}<br><b>Fecha:</b>{{ victim.date_time|date:' Y/m/d' }}{% endif %}
            {% if victim.description %}<br><b>Descripción:</b><br>{{ victim.description }}{% endif %}
            {% if victim.technique %}<br><b>Técnica:</b><br>{{ victim.technique }}{% endif %}
            {% if victim.hacker_name %}<br><b>Hacker:</b><br>{{ victim.hacker_name }}{% endif %}
            {% if victim.hacker_captured %}<br><b>¿Capturado?</b><br>{{ victim.hacker_captured }}{% endif %}
            {% if victim.address %}<br><b>Dirección:</b><br>{{ victim.address }}{% endif %}
            {% if victim.locality %}<br><b>Localidad:</b><br>{{ victim.locality }}{% endif %}
            {% if victim.province %}<br><b>Provincia:</b><br>{{ victim.province }}{% endif %}
            {% if victim.autonomous_community %}<br><b>Comunidad autónoma:</b><br>{{ victim.autonomous_community }}{% endif %}
            {% if victim.country %}<br><b>País:</b><br>{{ victim.country }}{% endif %}
        `;
        var marker = L.marker([{{ victim.latitude }}, {{ victim.longitude }}], { icon: customIcon }).addTo(mymap);
        marker.bindPopup(popupContent);
    {% endfor %}

    // Coordenadas de París y Nueva York
    var parisCoordinates = [48.8566, 2.3522]; // París
    var newYorkCoordinates = [40.7128, -74.0060]; // Nueva York

    // Dibujar una línea base visible (con un color más tenue)
    var parisToNewYorkLine = L.polyline([parisCoordinates, newYorkCoordinates], {
        color: 'white', // La línea base será invisible
        weight: 1,            // Grosor mínimo
    }).addTo(mymap);

    // Crear el decorador para la línea discontinua blanca
    var decorator = L.polylineDecorator(parisToNewYorkLine, {
        patterns: [
            {
                offset: '0%',       // Empieza desde el inicio
                repeat: '20px',     // Espaciado entre los segmentos
                symbol: L.Symbol.dash({
                    pixelSize: 10,  // Tamaño de cada segmento
                    pathOptions: {
                        color: 'white', // Color de los segmentos
                        weight: 3,      // Grosor de los segmentos
                        opacity: 1,     // Totalmente visible
                    },
                }),
            },
        ],
    }).addTo(mymap);
</script>
{% endblock %}